<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link href="../static/css/main.css" th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}">
	<title>Recipe Details</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-orange" id="more-recipes-navbar">
<div class="container">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<!-- Brand -->
    <a class="navbar-brand" th:href="@{/recipes}"><img th:src="@{/images/more-recipes.jpg}" class="img-fluid rounded" alt="More Recipe Logo"/></a>

<!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">   
            <ul class="navbar-nav">
                    <li class="nav-item">
                       <a class="nav-link" th:href="@{/recipes}">Go Back</a>
                   </li>

               </ul>

</div>
</nav>
<section class="search-layout">
    <div class="container">
        <div style="max-width: 960px; margin-top:50px; margin-left:60px;">
            <div class="row">
                <div class="col-sm-5">
                    <img th:attr="src=${recipe.imageUrl}" class="img-fluid" alt="Spaghetti Smoky Tomato Seafood Sauce">
                </div>
                <div class="col-sm-7">
                    <div class="jumbotron" style="padding-top:1rem;padding-bottom: 1rem;">
                        <h4 th:text="${recipe.title}"></h4>
                        <p th:text="${recipe.content}">
                        </p>
                        <blockquote class="blockquote mb-0">

                            <footer class="blockquote-footer">posted by
                                <cite title="Source Title" th:text= ${recipe.user["firstname"]}></cite>
                                <cite title="Source Title" th:text= ${recipe.user["lastname"]}></cite>
                            </footer>
                        </blockquote>
                        <p style="margin-top: 4px;">
                            <button type="button" class="btn btn-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Upvote</button>
                            <button type="button" class="btn btn-secondary"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> Downvote</button>
                            <button type="button" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i> Post Review</button>
                            <button type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete</button>

                        </p>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="fixed-bottom d-sm-flex h-15 justify-content-center mb-3" style="padding-top:30px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><p>Copyright &copy; 2020. All rights reserved.</p></div>
        </div>
    </div>
</footer>
<script type="text/javascript"  th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>